doctype
html(lang='en')
	head
		meta(charset='utf-8')
		link(href="style.css", rel="stylesheet")
		<link href='//cdn.jsdelivr.net/devicons/1.8.0/css/devicons.min.css' rel='stylesheet' class="devicons">
		title
	body
		.content
			.card
				.firstinfo
				img(src="https://klike.net/uploads/posts/2021-12/1639377784_5.jpg")
				.profileinfo
				h1 Сашко
				h3 Front-End розробник
				p.bio
					| Я проживаю у Рівненській області.Мені подобається як я проводжу свій час з друзями:)
		.badgescard 
			span.devicons.devicons-bootstrap
			span.devicons.devicons-chrome 
			span.devicons.devicons-javascript_badge
			span.devicons.devicons-html5
			span.devicons.devicons-nodejs
			span.devicons.devicons-sass 
			span.devicons.devicons-css3
			span.devicons.devicons-github
			span.devicons.devicons-python


